        <header class="site-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="images/logo.png" alt="" class="logo">
                    <div class="logo-copy">
                        <h1 class="site-title">Moviz</h1>
                        <small class="site-description">Manage your best movies</small>
                    </div>
                </a> <!-- #branding -->

                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <% if (page === 'search' || page === 'single' || page === 'sign' || page == undefined) { %>
                        <li class="menu-item"><a href="/">Last releases</a></li>
                        <li class="menu-item"><a href="contact">Contact</a></li>

                            <%if(isUserLog == true) { %>

                                <li class="menu-item"><a href="review">My movies</a></li>
                                <li class="menu-item"><a href="signout">Sign out</a></li>

                            <% }  else if (isUserLog == false || isUserLog == undefined) { %>

                                <li class="menu-item"><a href="signup">Sign up</a></li>
                                <li class="menu-item"><a href="signin">Sign in</a></li>
                            <% }

                        } else { %>

                            <li <% if (page === 'home') { %> class="menu-item current-menu-item" <%
                                } else { %> class="menu-item" <% } %> ><a href="/">Last releases</a></li>

                            <li <% if (page === 'contact') { %> class="menu-item current-menu-item" <%
                                } else { %> class="menu-item" <% } %> ><a href="contact">Contact</a></li>

                            <% if(isUserLog == true) { %>

                                 <li <% if (page === 'review') { %> class="menu-item current-menu-item" <%
                                } else { %> class="menu-item" <% } %> ><a href="review">My movies</a></li>
                                <li class="menu-item"><a href="signout">Sign out</a></li>

                            <% }  else if (isUserLog == false || isUserLog == undefined) { %>

                                <li class="menu-item"><a href="signup">Sign up</a></li>
                                <li class="menu-item"><a href="signin">Sign in</a></li>
                            <% }

                         }%>




                    </ul> <!-- .menu -->

                    <form action="/search" class="search-form">
                        <input class="" id="search" placeholder="Search..." type="text" name="movieSearch">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form> <!-- .menu -->


                </div> <!-- .main-navigation -->

                <div class="mobile-navigation"></div>
            </div>
        </header>
